@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-swiper .swiper-pagination-bullet {
  opacity: 1 !important;
  background-color: white !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 16px !important;
}

.banner-swiper .swiper-pagination-bullet-active {
  background-color: transparent !important;
  border: 1px solid white;
}

.banner-swiper .swiper-pagination-bullets.swiper-pagination-vertical {
  left: 10px !important;
  right: auto !important;
}

@media (max-width: 640px) {
  .banner-swiper .swiper-pagination-bullet {
    width: 7px !important;
    height: 7px !important;
  }
}

body {
  scroll-behavior: smooth;
}
